NEXTAUTH_URL=
NEXTAUTH_URL_INTERNAL=
HOST_NAME=
NEXT_PUBLIC_PAYPAL_CLIENT_ID=YOUR_PAYPAL_CLIENT_ID
PAYPAL_SECRET=YOUR_PAYPAL_SECRET
PAYPAL_OAUTH_API=https://api-m.sandbox.paypal.com/v1/oauth2/token
PAYPAL_API=https://api.sandbox.paypal.com/v2/checkout/orders
CLOUDINARY_URL=cloudinary://YOUR_CLOUDINARY_CLOUD_NAME:YOUR_CLOUDINARY_API_KEY@YOUR_CLOUDINARY_API_SECRET
MONGODB_URI=mongodb://your_connection_string
NEXTAUTH_SECRET=YOUR_STRONG_SECRET
JWT_SECRET=YOUR_STRONG_SECRET
GITHUB_ID=YOUR_GITHUB_CLIENT_ID
GITHUB_SECRET=YOUR_GITHUB_CLIENT_SECRET
NEXT_PUBLIC_TAX_RATE=0.16